
doc/installGuide/gumstix.out

doc/installGuide/gumstix.log

doc/installGuide/gumstix.aux

src/drivers/led/onebitleddev.c~

src/home/Makefile~

src/kernel-dev-env.txt~

src/apps/ledstuff/levelshifter-gpio-setup.sh~
